amcl:
  ros__parameters:
    alpha1: 0.2
    alpha2: 0.2
    alpha3: 0.2
    alpha4: 0.2
    alpha5: 0.2
    base_frame_id: "base_footprint"
    introspection_mode: "disabled"
    beam_skip_distance: 0.5
    beam_skip_error_threshold: 0.9
    beam_skip_threshold: 0.3
    do_beamskip: false
    global_frame_id: "map"
    lambda_short: 0.1
    laser_likelihood_max_dist: 2.0
    laser_max_range: 100.0
    laser_min_range: -1.0
    laser_model_type: "likelihood_field"
    max_beams: 300
    max_particles: 2000
    min_particles: 500
    odom_frame_id: "odom"
    pf_err: 0.05
    pf_z: 0.99
    recovery_alpha_fast: 0.0
    recovery_alpha_slow: 0.0
    resample_interval: 1
    robot_model_type: "nav2_amcl::DifferentialMotionModel"
    save_pose_rate: 0.5
    sigma_hit: 0.2
    tf_broadcast: true
    scan_topic: /scan
    transform_tolerance: 1.0
    update_min_a: 0.2
    update_min_d: 0.25
    z_hit: 0.5
    z_max: 0.05
    z_rand: 0.5
    z_short: 0.05
    map_topic: map
    set_initial_pose: true
    always_reset_initial_pose: false
    first_map_only: false
    initial_pose:
      x: 0.0
      y: 0.0
      z: 0.0
      yaw: 0.0

map_server:
  ros__parameters:
    use_sim_time: true
    yaml_filename: /home/pan/ros2_ws/src/mobile/map/map.yaml

planner_server:
  ros__parameters:
    use_sim_time: true
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"
      use_astar: True
      allow_unknown: True
      tolerance: 0.2

bt_navigator:
  ros__parameters:
    use_sim_time: true
    odom_topic: /odometry/filtered  
    default_bt_xml_filename: "navigate_w_smoother_replanning_and_recovery.xml"

lifecycle_manager:
  ros__parameters:
    use_sim_time: true
    autostart: true
    node_names: ['map_server', 'amcl', 'planner_server', 'controller_server', 'bt_navigator']


recoveries_server:
  ros__parameters:
    use_sim_time: true


# =====================================
# GLOBAL COSTMAP
# =====================================
global_costmap:
  global_costmap:
    ros__parameters:
      use_sim_time: True
      global_frame: map
      robot_base_frame: base_footprint
      update_frequency: 1.0
      publish_frequency: 1.0
      width: 20
      height: 20
      resolution: 0.05
      footprint: "[ [0.25, 0.35], [0.25, -0.35], [-0.25, -0.35], [-0.25, 0.35] ]"
      rolling_window: False
      always_send_full_costmap: True
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_topic: /map
        subscribe_to_updates: True

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: True
        observation_sources: scan
        scan:
          topic: /scan
          max_obstacle_height: 2.0
          clearing: True
          marking: True
          data_type: "LaserScan"
          inf_is_valid: True
          obstacle_range: 6.5
          raytrace_range: 7.0

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.5
        cost_scaling_factor: 3.0

# =====================================
# LOCAL COSTMAP
# =====================================
local_costmap:
  local_costmap:
    ros__parameters:
      use_sim_time: True
      global_frame: map
      robot_base_frame: base_footprint
      update_frequency: 5.0
      publish_frequency: 2.0
      width: 8
      height: 8
      resolution: 0.05
      footprint: "[ [0.25, 0.35], [0.25, -0.35], [-0.25, -0.35], [-0.25, 0.35] ]"
      rolling_window: True
      always_send_full_costmap: True
      plugins: ["obstacle_layer", "inflation_layer"]

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: True
        observation_sources: scan
        scan:
          topic: /scan
          max_obstacle_height: 2.0
          clearing: True
          marking: True
          data_type: "LaserScan"
          inf_is_valid: True
          obstacle_range: 6.0
          raytrace_range: 6.5

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.5
        cost_scaling_factor: 3.0

# =====================================
# SMOOTHER SERVER (Constrained Smoother)
# =====================================
smoother_server:
  ros__parameters:
    use_sim_time: true
    smoother_plugins: ["SmoothPath"]

    SmoothPath:
      plugin: "nav2_constrained_smoother/ConstrainedSmoother"

      # Cấu hình cơ bản
      reversing_enabled: false        # diff-drive không cần lùi
      path_downsampling_factor: 2     # giảm số điểm để tính nhanh hơn
      path_upsampling_factor: 2       # nội suy lại cho mượt hơn
      keep_start_orientation: true
      keep_goal_orientation: true

      # Ràng buộc chuyển hướng
      minimum_turning_radius: 0.0     # diff-drive có thể đặt 0.0
      w_curve: 8.0                 # giảm một chút cho mềm hướng hơn

      # Điều khiển độ mượt và bám đường
      w_smooth: 8000000.0     # ↑ làm đường cong mượt hơn
      w_dist: 0.75                 # giữ gần với đường planner gốc
      w_cost: 0.05                    # tránh sát vật cản

      # Tối ưu các đoạn đổi hướng gắt
      w_cost_cusp_multiplier: 2.0     # giảm một chút để tránh quá mạnh
      cusp_zone_length: 2.0

      # Cấu hình tối ưu hóa
      optimizer:
        max_iterations: 100           # nhiều vòng hơn giúp tối ưu kỹ
        debug_optimizer: false
        gradient_tol: 1.0e-5
        fn_tol: 1.0e-10
        param_tol: 1.0e-15


controller_server:
  ros__parameters:
    odom_topic: /odometry/filtered  
    # controller server parameters (see Controller Server for more info)
    controller_frequency: 20.0
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.5
    min_theta_velocity_threshold: 0.001
    progress_checker_plugins: "progress_checker" # progress_checker_plugin: "progress_checker" For Humble and older
    goal_checker_plugins: ["goal_checker"]
    controller_plugins: ["FollowPath"]
    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.5
      movement_time_allowance: 10.0
    goal_checker:
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.1
      yaw_goal_tolerance: 0.1
      stateful: False
    # DWB controller parameters
    FollowPath:
      plugin: "dwb_core::DWBLocalPlanner"
      debug_trajectory_details: True
      min_vel_x: 0.0
      min_vel_y: 0.0
      max_vel_x: 0.26
      max_vel_y: 0.0
      max_vel_theta: 1.0
      min_speed_xy: 0.0
      max_speed_xy: 0.26
      min_speed_theta: 0.0
      acc_lim_x: 2.5
      acc_lim_y: 0.0
      acc_lim_theta: 3.2
      decel_lim_x: -2.5
      decel_lim_y: 0.0
      decel_lim_theta: -3.2
      vx_samples: 20
      vy_samples: 5
      vtheta_samples: 20
      sim_time: 1.7
      linear_granularity: 0.05
      angular_granularity: 0.025
      transform_tolerance: 0.2
      xy_goal_tolerance: 0.1
      trans_stopped_velocity: 0.05
      short_circuit_trajectory_evaluation: True
      limit_vel_cmd_in_traj: False
      stateful: False
      slowdown_factor: 0.8
      critics: ["RotateToGoal", "Oscillation", "BaseObstacle", "GoalAlign", "PathAlign", "PathDist", "GoalDist"]
      BaseObstacle.scale: 0.02
      PathAlign.scale: 32.0
      GoalAlign.scale: 24.0
      PathAlign.forward_point_distance: 0.1
      GoalAlign.forward_point_distance: 0.1
      PathDist.scale: 32.0
      GoalDist.scale: 24.0
      RotateToGoal.scale: 32.0
      RotateToGoal.slowing_factor: 5.0
      RotateToGoal.lookahead_time: -1.0